<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="file">Select File</label>
    <input
      formControlName="file"
      id="file"
      type="file"
      class="form-control"
      accept=".csv"
      (change)="onSelect($event)"
      data-cy="submit"
    />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
  <button
    class="btn btn-danger"
    type="button"
    (click)="closeModal('upload-component')"
  >
    Close
  </button>
</form>
<div class="bt-space"></div>
<div *ngFor="let msg of feedbackMsgs" class="uploadMsgs">
  <div class="alert alert-danger" role="alert" *ngIf="respError">
    <p>{{ msg }}</p>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="respOk">
    <p>{{ msg }}</p>
  </div>
</div>
<div class="wrapper-spinner" *ngIf="spinner">
  <mat-spinner [diameter]="24" ></mat-spinner>
  <span>Uploading...</span>
</div>
